<!doctype html>
<html ng-app="TreinoApp">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>M3</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
                <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
                <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-sanitize.min.js"></script>
                <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>    
                <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>-->

        <link href="js/files/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <script src="js/files/jquery.min.js" type="text/javascript"></script>
        <script src="js/files/bootstrap.min.js" type="text/javascript"></script>
        <script src="js/files/angular.min.js" type="text/javascript"></script>
        <script src="js/files/angular-sanitize.min.js" type="text/javascript"></script>
        <script src="js/files/angular-route.js" type="text/javascript"></script>
        <script src="js/files/loader.js" type="text/javascript"></script>

        <link href="css/treinos.css" rel="stylesheet" type="text/css"/>
        <script src="treinador.js" type="text/javascript"></script>
        <script src="js/cadastros.js" type="text/javascript"></script>
    </head>

    <body ng-controller="TreinadorCtrl">

        <div class="row">
            <div class="col-sm-8">
                <h2>&nbsp;M3 Assessoria Esportiva</h2>
            </div>
            <div class="col-sm-3 text-right">
                <h3><a href="meusdados.html">{{dadosSessao.nome}}</a></h3>
            </div>
            <div class="col-sm-1 text-right"></div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <ul class="nav nav-tabs">
                    <li ng-repeat="item in opcoesMenu"><a href="{{item.link}}">{{item.descricao}}</a></li>
                </ul>
            </div>
        </div>
        <div ng-view></div>

        <br>
        <div class="container" ng-init="load()">
            <div class="row" ng-show="hasPlanilhaCopiada">
                <div class="col-md-12 text-right">
                    Planilha copiada: {{planilhaCopiada.nome}}
                    <br>
                    <!--{{planilhaCopiada}}-->
                </div>
            </div>
            <div ng-show="!atletaSelecionado">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <table style="width: 100%">
                            <tr>
                                <td style="width: 400px">
                                    <h3>Planilhas de treino</h3>
                                </td>
                                <td style="width: 400px; alignment-adjust: central; text-align: right">
                                    <div class="btn-group" role="group" aria-label="...">
                                        <button type="button" class="btn btn-default" ng-click="loadMicroCicloAtleta(-1)">Anterior</button>
                                        <button type="button" class="btn btn-default" ng-click="loadMicroCicloAtleta(0)">{{microCicloAtleta[0].inicioF}} a {{microCicloAtleta[0].fimF}}</button>
                                        <button type="button" class="btn btn-default" ng-click="loadMicroCicloAtleta(1)">Próximo</button>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: {{progresso}}%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                                        {{progresso}}%
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="panel-body">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Nome</th>
                                    <!-- <th>Treinos ({{contaOk}}/{{conta}})</th> -->
                                    <!-- <th>Grupo</th> -->
                                    <th>Situação ({{contaOk}}/{{conta}})</th>
                                    <th>Email</th>
                                    <!--<th>Data conclusão</th>-->
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in listaRegistros" ng-click="selecionarAtleta(item)">
                                    <td ng-click="editar(item)">
                                        <a ng-click="selecionarAtleta(item)">{{item.nome}}</a>
                                    </td>
                                    <!-- <td ng-click="editar(item)">
                                        <span class="label label-success" style="background-color: {{getCorModalidadeDia(item.Dia2)}}">Seg</span>
                                        <span class="label label-success" style="background-color: {{getCorModalidadeDia(item.Dia3)}}">Ter</span>
                                        <span class="label label-success" style="background-color: {{getCorModalidadeDia(item.Dia4)}}">Qua</span>
                                        <span class="label label-success" style="background-color: {{getCorModalidadeDia(item.Dia5)}}">Qui</span>
                                        <span class="label label-success" style="background-color: {{getCorModalidadeDia(item.Dia6)}}">Sex</span>
                                        <span class="label label-success" style="background-color: {{getCorModalidadeDia(item.Dia7)}}">Sab</span>
                                        <span class="label label-success" style="background-color: {{getCorModalidadeDia(item.Dia8)}}">Dom</span>
                                    </td>
                                    <td>
                                        {{item.nomeGrupo}}
                                    </td> -->
                                    <td>
                                        {{item.situacao}}
                                    </td>
                                    <td>
                                        <span class="label label-success" ng-show="item.data_email !== nil"  title="Tooltip with HTML">Enviado</span>
                                    </td>
                                    <!--                                    <td>
                                                                            {{item.data_conclusao}}
                                                                        </td>-->
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div ng-show="atletaSelecionado">


                <!--{{microCicloAtleta}}-->
                <!--{{microCicloTreinosAtleta}}-->
                <div class="well well-sm">
                    <div class="row">
                        <div class="col-md-5">
                            <h3 ng-show="atletaSelecionado">Atleta: {{atleta.nome}}</h3>
                            <div class="form-group">
                                <label for="inputGrupo" class="col-form-label">Grupo do atleta:</label>
                                <select id="inputGrupo" class="form-control" ng-options="option.nome for option in listaGrupos track by option.codigo"
                                        ng-model="atleta.grupo"
                                        ng-change="gravarGrupo(atleta)">
                                </select>
                            </div>
                            <!--{{retornoGravarGrupo}}-->
                            <!--{{atleta}}-->
                        </div>
                        <div class="col-md-4">
                            <table>
                                <tr>
                                    <td>
                                        <div class="btn-group" role="group" aria-label="...">
                                            <button type="button" class="btn btn-default" ng-click="loadMicroCicloAtleta(-1)">Anterior</button>
                                            <button type="button" class="btn btn-default" ng-click="loadMicroCicloAtleta(0)">{{microCicloAtleta[0].inicioF}} a {{microCicloAtleta[0].fimF}}</button>
                                            <button type="button" class="btn btn-default" ng-click="loadMicroCicloAtleta(1)">Próximo</button>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <br>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align: center">
                                        <div class="form-group">
                                            <label for="inputSituacao" class="col-form-label">Situação da planilha:</label>
                                            <select id="inputSituacao" class="form-control" ng-options="option.descricao for option in estadosPlanilha track by option.codigo"
                                                    ng-model="microCicloAtleta[0].situacaoObj"
                                                    ng-change="gravarMicroCiclo(microCicloAtleta[0])">
                                            </select>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-md-3">
                            <table style="width: 100%;">
                                <tr>
                                    <td style="width: 400px; alignment-adjust: central; text-align: right;">
                                        <table style="width: 200px; padding: 15px; border-color: #eee; border: 1px solid #eee;">
                                            <tr>
                                                <td style="width: 100px">
                                                    <button type="button" class="btn btn-default btn-block" ng-click="copiarPlanilha()" ng-show="atletaSelecionado">Copiar</button>
                                                </td>
                                                <td style="width: 100px">
                                                    <button type="button" class="btn btn-default btn-block" ng-click="colarPlanilha()" ng-show="atletaSelecionado" ng-disabled="!hasPlanilhaCopiada">Colar</button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <button type="button" class="btn btn-default btn-block" ng-click="enviarPlanilha(microCicloTreinosAtleta)" ng-show="atletaSelecionado" >Enviar</button>
                                                </td>
                                                <td>
                                                    <button type="button" class="btn btn-default btn-block" ng-click="desSelecionarAtleta()" ng-show="atletaSelecionado">Voltar</button>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                            {{msgEnvioEmail}}
                        </div>
                    </div>
                </div>
                <p ng-bind-html="atleta.observacoes"/>
                <div class="row" ng-repeat="mct in microCicloTreinosAtleta">
                    <div class="form-group col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <table style="width: 100%">
                                    <tr>
                                        <td style="alignment-adjust: central">
                                            <b>{{mct.diaF}} - {{mct.diaS}}</b>
                                            <!--<span ng-show="mct.Itens.length > 0" class="label label-success"> OK</span>-->
                                        </td>
                                        <td style="alignment-adjust: central">
                                        </td>
                                        <td style="text-align: right">
                                            <button type="button" class="btn btn-success" ng-click="novo(microCicloAtleta[0], mct)">Novo</button>
                                            <button type="button" class="btn btn-success" ng-click="TreinoFixos(microCicloAtleta[0], mct, 1)">Folga</button>
                                            <button type="button" class="btn btn-success" ng-click="TreinoFixos(microCicloAtleta[0], mct, 2)">Coletivo</button>
                                            <button type="button" class="btn btn-success" ng-click="TreinoFixos(microCicloAtleta[0], mct, 3)">Automático</button>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="panel-body">
                                <div ng-repeat="mct_dia in mct.Itens">
                                    <div ng-show="mct_dia.ctrl_status === 1 && mct_dia.tipos_modalidades.codigo === 4">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="card">
                                                    <div class="card-body">
                                                        <table style="width: 100%">
                                                            <tr>
                                                                <td style="width: 40%"></td>
                                                                <td style="text-align: center">
                                                                    <a href="" ng-click="mct_dia.ctrl_status = 2"><pre style="background: #ffffe6">-- FOLGA --</pre></a>
                                                                </td>
                                                                <td style="width: 40%"></td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div ng-show="mct_dia.ctrl_status === 1 && mct_dia.tipos_modalidades.codigo !== 4">
                                        <div class="row">
                                            <div class="col-md-2">
                                                <p>
                                                    <b>Modalidade: </b>
                                                    <a href="" ng-click="mct_dia.ctrl_status = 2">{{mct_dia.tipos_modalidades.descricao}}</a>
                                                </p>
                                            </div>
                                            <div class="col-md-2">
                                                <b>Treino: </b>
                                                {{mct_dia.tipos_treinos.descricao}}
                                            </div>
                                            <div class="col-md-4">
                                                <b>Intensidade: </b>
                                                {{mct_dia.tipos_intensidades.descricao}}
                                            </div>
                                            <div class="col-md-4">
                                                <b>Tipo de terreno: </b>
                                                {{mct_dia.tipos_percursos.descricao}}
                                            </div>
                                        </div>
                                        <div class="row" ng-click="mct_dia.ctrl_status = 2">
                                            <div class="col-md-1">
                                                <b>Instruções:</b>
                                            </div>
                                            <div class="col-md-11">
                                                <table border="1" style="width: 100%; padding: 15px; border-color: #eee; border: 1px solid #eee;">
                                                    <tr>
                                                        <td style="padding: 15px; background-color: #fefefe;">
                                                            <p ng-bind-html="mct_dia.descricaoF"/>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <hr align="center" width="100%" size="1" color=red>
                                            </div>
                                        </div>
                                    </div>
                                    <div ng-show="mct_dia.ctrl_status === 2">
                                        <div class="row">
                                            <div class="form-group col-md-12">

                                                <div class="panel panel-default">
                                                    <div class="panel-body">
                                                        <form name="myForm">
                                                            <div class="row">
                                                                <div class="form-group col-md-2">
                                                                    <label for="inputDia" class="col-form-label">Data</label>
                                                                    <input id="inputDia" type="text" class="form-control"  ng-model="mct_dia.dia" placeholder="dd/mm/yyy"  min="2013-01-01" max="2020-12-31" required>
                                                                </div>
                                                                <div class="form-group col-md-2">
                                                                    <label for="inputModalidade" class="col-form-label">Modalidade</label>
                                                                    <select id="inputModalidade" class="form-control" ng-options="option.descricao for option in tiposModalidades track by option.codigo"
                                                                            ng-model="mct_dia.tipos_modalidades">
                                                                    </select>
                                                                </div>
                                                                <div class="form-group col-md-2">                                                           
                                                                    <label for="inputIntensidade" class="col-form-label">Intensidade</label>
                                                                    <select id="inputIntensidade" class="form-control"
                                                                            ng-options="option.descricao for option in tiposIntensidades track by option.codigo" 
                                                                            ng-model="mct_dia.tipos_intensidades">
                                                                    </select>
                                                                </div>                                                      
                                                                <div class="form-group col-md-3">                                                           
                                                                    <label for="inputTreino" class="col-form-label">Tipo de treino</label>
                                                                    <select id="inputTreino" class="form-control"
                                                                            ng-options="option.descricao for option in tiposTreinos track by option.codigo" 
                                                                            ng-model="mct_dia.tipos_treinos">
                                                                    </select>
                                                                </div>                                                    
                                                                <div class="form-group col-md-3">                                                           
                                                                    <label for="inputTerreno" class="col-form-label">Tipo de terreno</label>
                                                                    <select id="inputTerreno" class="form-control"
                                                                            ng-options="option.descricao for option in tiposPercursos track by option.codigo" 
                                                                            ng-model="mct_dia.tipos_percursos">
                                                                    </select>
                                                                </div>                                                    
                                                            </div>
                                                            <div class="row">
                                                                <div class="form-group col-md-12">
                                                                    <label for="inputInstrucoes" class="col-form-label">Instruções</label>
                                                                    <textarea id="inputInstrucoes" class="form-control" ng-model="mct_dia.descricao" rows="8"></textarea>
                                                                    Treino precadastrado: 
                                                                    <a href="" ng-click="showTreinosPreCadastrados(mct_dia, 0)">Listar</a>
                                                                    - 
                                                                    <a href="" ng-click="showTreinosPreCadastrados(mct_dia, 1)">Seleção automática</a>
                                                                    - 
                                                                    <a href="" ng-click="cadastrarTreinoPreCadastrado(mct_dia)">Cadastrar</a>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="form-group col-md-12">
                                                                    <button type="button" class="btn btn-success" ng-click="gravar(mct_dia)">Gravar</button>
                                                                    <button type="button" class="btn" ng-click="excluir(mct_dia, mct)">Excluir</button>
                                                                    <button type="button" class="btn" ng-click="mct_dia.ctrl_status = 1">Cancelar</button>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

            <div id="treinosPreCadastrados" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="classInfo" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                ×
                            </button>
                            <h4 class="modal-title" id="classModalLabel">
                                Treinos pré cadastrados
                            </h4>
                        </div>
                        <div class="modal-body">
                            Treinos
                            <div class="scrollit" style="overflow:scroll; height:500px;">
                                <table class="table table-bordered table-hover">
                                    <tr ng-repeat="item in treinosPreCadastrados">
                                        <td ng-click="selecionaTreinosPreCadastrados(item)">
                                            <p ng-bind-html="item.descricaoF"/>
                                        </td>
                                        <td ng-click="selecionaTreinosPreCadastrados(item)">
                                            {{item.qtdeF}}
                                        </td>
                                    </tr>
                                </table>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">
                                Cancelar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <form>
            <div id="modalTreinoPreCadastrados" class="modal fade bd-example-modal-lg" role="dialog">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h3 class="modal-title">Treinos pré cadastrados</h3>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="form-group col-md-3">
                                    <label for="inputModalidade" class="col-form-label">Modalidade</label>
                                    <select id="inputModalidade" class="form-control" ng-options="option.descricao for option in tiposModalidades track by option.codigo"
                                            ng-model="registroTreinoPreCadastrado.tipos_modalidades">
                                    </select>
                                </div>
                                <div class="form-group col-md-3">                                                           
                                    <label for="inputIntensidade" class="col-form-label">Intensidade</label>
                                    <select id="inputIntensidade" class="form-control"
                                            ng-options="option.descricao for option in tiposIntensidades track by option.codigo" 
                                            ng-model="registroTreinoPreCadastrado.tipos_intensidades">
                                    </select>
                                </div>                                                      
                                <div class="form-group col-md-3">                                                           
                                    <label for="inputTreino" class="col-form-label">Tipo de treino</label>
                                    <select id="inputTreino" class="form-control"
                                            ng-options="option.descricao for option in tiposTreinos track by option.codigo" 
                                            ng-model="registroTreinoPreCadastrado.tipos_treinos">
                                    </select>
                                </div>                                                    
                                <div class="form-group col-md-3">
                                    <label for="inputModalidade" class="col-form-label">Terreno</label>
                                    <select id="inputModalidade" class="form-control" ng-options="option.descricao for option in tiposPercursos track by option.codigo"
                                            ng-model="registroTreinoPreCadastrado.tipos_percursos">
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-12">
                                    <label for="inputInstrucoes" class="col-form-label">Instruções</label>
                                    <!--<input id="inputNome" type="text" ng-model="registroTreinoPreCadastrado.descricao" class="form-control" placeholder="Nome">-->
                                    <textarea id="inputInstrucoes" class="form-control" ng-model="registroTreinoPreCadastrado.descricao" rows="8"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" ng-click="gravarTreinoPreCadastrado(registroTreinoPreCadastrado)">Salvar</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>

</body>
</html>