<!doctype html>
<html ng-app="TreinoApp">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>M3</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-sanitize.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>    
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

        <script src="treinador.js" type="text/javascript"></script>
        <script src="js/cadastros.js" type="text/javascript"></script>
    </head>

    <body ng-controller="TreinadorCtrl" >

        <div class="row">
            <div class="col-sm-10">
                <h2>M3 Assessoria Esportiva</h2>
            </div>
            <div class="col-sm-2">
                {{usuarioDados.nome}}
                <br>{{usuarioDados}}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <ul class="nav nav-tabs">
                    <li ng-repeat="item in opcoesMenu"><a href="{{item.link}}">{{item.descricao}}</a></li>
                </ul>
            </div>
        </div>
        <div ng-view></div>


        <div class="container" ng-init="load()">
            <br>            
            <div ng-show="!atletaSelecionado">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <table style="width: 100%">
                            <tr>
                                <td style="width: 400px">
                                    <h3>Planilhas de treino</h3>
                                </td>
                                <td style="width: 400px; alignment-adjust: central; text-align: right">
                                    <div class="btn-group" role="group" aria-label="...">
                                        <button type="button" class="btn btn-default" ng-click="loadMicroCicloAtleta( - 1)">Anterior</button>
                                        <button type="button" class="btn btn-default" ng-click="loadMicroCicloAtleta(0)">{{microCicloAtleta[0].inicioF}} a {{microCicloAtleta[0].fimF}}</button>
                                        <button type="button" class="btn btn-default" ng-click="loadMicroCicloAtleta(1)">Próximo</button>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: {{progresso}}%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                                        {{progresso}}%
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="panel-body">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Nome</th>
                                    <th>Treinos ({{contaOk}}/{{conta}})</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in listaRegistros">
                                    <td ng-click="editar(item)">
                                        <a ng-click="selecionarAtleta(item)">{{item.nome}}</a>
                                    </td>
                                    <td ng-click="editar(item)">
                                        <span ng-class="item.Dia2===-1?'label label-danger':item.Dia2 === 4?'label label-default':'label label-success'">Seg</span>
                                        <span ng-class="item.Dia3===-1?'label label-danger':item.Dia3 === 4?'label label-default':'label label-success'">Ter</span>
                                        <span ng-class="item.Dia4===-1?'label label-danger':item.Dia4 === 4?'label label-default':'label label-success'">Qua</span>
                                        <span ng-class="item.Dia5===-1?'label label-danger':item.Dia5 === 4?'label label-default':'label label-success'">Qui</span>
                                        <span ng-class="item.Dia6===-1?'label label-danger':item.Dia6 === 4?'label label-default':'label label-success'">Sex</span>
                                        <span ng-class="item.Dia7===-1?'label label-danger':item.Dia7 === 4?'label label-default':'label label-success'">Sab</span>
                                        <span ng-class="item.Dia8===-1?'label label-danger':item.Dia8 === 4?'label label-default':'label label-success'">Dom</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div ng-show="atletaSelecionado">


                <!--{{microCicloAtleta}}-->
                <!--{{microCicloTreinosAtleta}}-->
                <div class="well well-sm">
                    <div class="row">
                        <div class="col-md-5">
                            <h3 ng-show="atletaSelecionado">Atleta: {{atleta.nome}}</h3>
                        </div>
                        <div class="col-md-5">
                            <div class="btn-group" role="group" aria-label="...">
                                <button type="button" class="btn btn-default" ng-click="loadMicroCicloAtleta( - 1)">Anterior</button>
                                <button type="button" class="btn btn-default" ng-click="loadMicroCicloAtleta(0)">{{microCicloAtleta[0].inicioF}} a {{microCicloAtleta[0].fimF}}</button>
                                <button type="button" class="btn btn-default" ng-click="loadMicroCicloAtleta(1)">Próximo</button>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <button type="button" class="btn btn-default" ng-click="enviarPlanilha(microCicloTreinosAtleta)" ng-show="atletaSelecionado">Enviar</button>
                            <button type="button" class="btn btn-default" ng-click="desSelecionarAtleta()" ng-show="atletaSelecionado">Voltar</button>
                        </div>
                    </div>
                </div>

                <div class="row" ng-repeat="mct in microCicloTreinosAtleta">
                    <div class="form-group col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <table style="width: 100%">
                                    <tr>
                                        <td style="alignment-adjust: central">
                                            <b>{{mct.diaF}} - {{mct.diaS}}</b>
                                            <!--<span ng-show="mct.Itens.length > 0" class="label label-success"> OK</span>-->
                                        </td>
                                        <td style="alignment-adjust: central">
                                        </td>
                                        <td style="text-align: right">
                                            <button type="button" class="btn btn-success" ng-click="novo(microCicloAtleta[0], mct)">Novo</button>
                                            <button type="button" class="btn btn-success" ng-click="TreinoFixos(microCicloAtleta[0], mct, 1)">Folga</button>
                                            <button type="button" class="btn btn-success" ng-click="TreinoFixos(microCicloAtleta[0], mct, 2)">Coletivo</button>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="panel-body">
                                <div ng-repeat="mct_dia in mct.Itens">
                                    <div ng-show="mct_dia.ctrl_status === 1 && mct_dia.tipos_modalidades.codigo === 4">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="card">
                                                    <div class="card-body">
                                                        <table style="width: 100%">
                                                            <tr>
                                                                <td style="width: 40%"></td>
                                                                <td style="text-align: center">
                                                                    <a href="" ng-click="mct_dia.ctrl_status = 2"><pre style="background: #FAFF8D">-- FOLGA --</pre></a>
                                                                </td>
                                                                <td style="width: 40%"></td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div ng-show="mct_dia.ctrl_status === 1 && mct_dia.tipos_modalidades.codigo !== 4">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <p>
                                                    <b>Modalidade: </b>
                                                    <a href="" ng-click="mct_dia.ctrl_status = 2">{{mct_dia.tipos_modalidades.descricao}}</a>
                                                </p>
                                            </div>
                                            <div class="col-md-3">
                                                <b>Treino: </b>
                                                {{mct_dia.tipos_treinos.descricao}}
                                            </div>
                                            <div class="col-md-4">
                                                <b>Intensidade: </b>
                                                {{mct_dia.tipos_intensidades.descricao}}
                                            </div>
                                            <div class="col-md-2">

                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-1">
                                                <b>Instruções:</b>
                                            </div>
                                            <div class="col-md-11">
                                                <pre style="background: white; font-size: medium">{{mct_dia.descricao}}</pre>
                                                <!--                                                <p class="text-right">
                                                                                                    <button type="button" class="btn btn-success" ng-click="">Feedback</button>
                                                                                                </p>-->
                                            </div>
                                        </div>
                                        <!--                                        <div class="row">
                                                                                    <div class="col-md-1">
                                                                                        <b>Como foi o treino?</b>
                                                                                    </div>
                                                                                    <div class="col-md-10">
                                                                                        <textarea id="inputInstrucoes" class="form-control" ng-model="mct_dia.feedback" rows="3"></textarea>
                                                                                    </div>
                                                                                    <div class="col-md-1">
                                                                                        <p class="text-left">
                                                                                            <button type="button" class="btn btn-success" ng-click="gravar(mct_dia)">Gravar</button>
                                                                                        </p>
                                                                                    </div>
                                                                                </div>-->
                                        <div class="row">
                                            <div class="col-md-12">
                                                <hr align="center" width="100%" size="1" color=red>
                                            </div>
                                        </div>
                                    </div>
                                    <div ng-show="mct_dia.ctrl_status === 2">
                                        <div class="row">
                                            <div class="form-group col-md-12">

                                                <div class="panel panel-default">
                                                    <div class="panel-body">
                                                        <form name="myForm">
                                                            <div class="row">
                                                                <div class="form-group col-md-3">
                                                                    <label for="inputDia" class="col-form-label">Data</label>
                                                                    <input id="inputDia" type="text" class="form-control"  ng-model="mct_dia.dia" placeholder="dd/mm/yyy"  min="2013-01-01" max="2020-12-31" required>
                                                                </div>
                                                                <div class="form-group col-md-3">
                                                                    <label for="inputModalidade" class="col-form-label">Modalidade</label>
                                                                    <select id="inputModalidade" class="form-control" ng-options="option.descricao for option in tiposModalidades track by option.codigo"
                                                                            ng-model="mct_dia.tipos_modalidades">
                                                                    </select>
                                                                </div>
                                                                <div class="form-group col-md-3">                                                           
                                                                    <label for="inputIntensidade" class="col-form-label">Intensidade</label>
                                                                    <select id="inputIntensidade" class="form-control"
                                                                            ng-options="option.descricao for option in tiposIntensidades track by option.codigo" 
                                                                            ng-model="mct_dia.tipos_intensidades">
                                                                    </select>
                                                                </div>                                                      
                                                                <div class="form-group col-md-3">                                                           
                                                                    <label for="inputTreino" class="col-form-label">Tipo de treino</label>
                                                                    <select id="inputTreino" class="form-control"
                                                                            ng-options="option.descricao for option in tiposTreinos track by option.codigo" 
                                                                            ng-model="mct_dia.tipos_treinos">
                                                                    </select>
                                                                </div>                                                    
                                                            </div>
                                                            <div class="row">
                                                                <div class="form-group col-md-12">
                                                                    <label for="inputInstrucoes" class="col-form-label">Instruções</label>
                                                                    <textarea id="inputInstrucoes" class="form-control" ng-model="mct_dia.descricao" rows="8"></textarea>
                                                                    <a href="" ng-click="showTreinosPreCadastrados(mct_dia)">Treino precadastrado...</a>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="form-group col-md-12">
                                                                    <button type="button" class="btn btn-success" ng-click="gravar(mct_dia)">Gravar</button>
                                                                    <button type="button" class="btn" ng-click="excluir(mct_dia, mct)">Excluir</button>
                                                                    <button type="button" class="btn" ng-click="mct_dia.ctrl_status = 1">Cancelar</button>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>


            <form>
                <div id="myModal" class="modal fade bd-example-modal-lg" role="dialog">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <h3 class="modal-title">Cadastro de Usuários</h3>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <label for="inputNome" class="col-form-label">Nome</label>
                                        <input id="inputNome" type="text" ng-model="registro.nome" class="form-control" placeholder="Nome do atleta">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-4">
                                        <label for="inputNascto" class="col-form-label">Data de nascimento</label>
                                        <input id="inputNascto" type="text" ng-model="registro.data_nascto" class="form-control" placeholder="Informe a data de nascimento">
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="inputCPF" class="col-form-label">Telefone (Whatsapp)</label>
                                        <input id="inputCPF" type="text" ng-model="registro.telefone_1" class="form-control" placeholder="Informe o número do telefone usado no whatsapp">
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="inputRg" class="col-form-label">Telefone 2</label>
                                        <input id="inputRg" type="text" ng-model="registro.telefone_2" class="form-control" placeholder="Informe o numero de um segundo telefone para contado">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label for="inputCPF" class="col-form-label">CPF</label>
                                        <input id="inputCPF" type="text" ng-model="registro.cpf" class="form-control" placeholder="CPF">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="inputRg" class="col-form-label">RG</label>
                                        <input id="inputRg" type="text" ng-model="registro.rg" class="form-control" placeholder="RG">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label for="inputEmail" class="col-form-label">Email</label>
                                        <input  id="inputEmail" type="email" ng-model="registro.email" class="form-control" placeholder="Email">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="inputPassword" class="col-form-label">Senha</label>
                                        <input id="inputPassword" type="password" ng-model="registro.senha" class="form-control" placeholder="Senha de acesso">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <label for="inputEndereco" class="col-form-label">Endereço</label>
                                        <input id="inputEndereco" type="text" ng-model="registro.endereco" class="form-control" placeholder="Informe a rua, apartamento, número etc... Ex: Av. Centenário, 7504. Apto 405.">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label for="inputCidade" class="col-form-label">Cidade</label>
                                        <input id="inputCidade" type="text" ng-model="registro.cidade" class="form-control" placeholder="Nome da cidade">
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="inputEstado" class="col-form-label">Estado</label>
                                        <input id="inputEstado" type="text" ng-model="registro.estado" class="form-control" placeholder="Sigla do estado">
                                        <!--                        <select id="inputEstado" ng-model="registro.estado"  class="form-control"
                                                                        ng-options="option.nome for option in listaEstadosCidades track by option.sigla">
                                                                </select>-->
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label for="inputCEP" class="col-form-label">CEP</label>
                                        <input id="inputCEP" type="text" ng-model="registro.cep" class="form-control">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-3">
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input class="form-check-input" type="checkbox" ng-model="registro.cria_planilhas" ng-true-value="1" ng-false-value="0"> Faz planilhas de treino
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input class="form-check-input" type="checkbox" ng-model="registro.cria_usuarios" ng-true-value="1" ng-false-value="0"> Cadastra usuários
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-3">
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input class="form-check-input" type="checkbox" ng-model="registro.cria_eventos" ng-true-value="1" ng-false-value="0"> Cria eventos
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input class="form-check-input" type="checkbox" ng-model="registro.recebe_planilha" ng-true-value="1" ng-false-value="0"> Recebe Planilhas
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <label for="inputObservacoes" class="col-form-label">Anotações sobre o atleta</label>
                                        <textarea class="form-control" id="inputObservacoes"  ng-model="registro.observacoes" rows="7" placeholder="Anotações sobre o atleta.">
                                        </textarea>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <label for="inputObservacoes" class="col-form-label">Anotações sobre o atleta</label>
                                        <textarea class="form-control" id="inputObservacoes"  ng-model="registro.observacoes" rows="7" placeholder="Anotações sobre o atleta.">
                                        </textarea>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <label for="inputObservacoes" class="col-form-label">Anotações sobre o atleta</label>
                                        <textarea class="form-control" id="inputObservacoes"  ng-model="registro.observacoes" rows="7" placeholder="Anotações sobre o atleta.">
                                        </textarea>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <label for="inputObservacoes" class="col-form-label">Anotações sobre o atleta</label>
                                        <textarea class="form-control" id="inputObservacoes"  ng-model="registro.observacoes" rows="7" placeholder="Anotações sobre o atleta.">
                                        </textarea>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <label for="inputObservacoes" class="col-form-label">Anotações sobre o atleta</label>
                                        <textarea class="form-control" id="inputObservacoes"  ng-model="registro.observacoes" rows="7" placeholder="Anotações sobre o atleta.">
                                        </textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" ng-click="gravar(registro)">Salvar</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>


        <div id="treinosPreCadastrados" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="classInfo" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            ×
                        </button>
                        <h4 class="modal-title" id="classModalLabel">
                            Treinos pré cadastrados
                        </h4>
                    </div>
                    <div class="modal-body">
                        Treinos
                        <div class="scrollit" style="overflow:scroll; height:500px;">
                            <table class="table table-bordered table-hover">
                                <tr ng-repeat="item in treinosPreCadastrados">
                                    <td ng-click="selecionaTreinosPreCadastrados(item)">
                                        <!--<pre style="width: 800px">-->
                                        <p ng-bind-html="item.descricaoF"/>

                                        <!--</pre>-->
                                    </td>
                                </tr>
                            </table>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">
                            Cancelar
                        </button>
                    </div>
                </div>
            </div>
        </div>


    </body>
</html>