<!doctype html>
<html ng-app="TreinoApp">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Controle de tempo</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>    
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

        <script src="usuarios.js" type="text/javascript"></script>
        <script src="js/cadastros.js" type="text/javascript"></script>
    </head>

    <body ng-controller="UsuariosCtrl" ng-init="load()">

        <div class="row">
            <div class="col-sm-12">
                <h2>M3 Assessoria Esportiva</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <ul class="nav nav-tabs">
                    <li ng-repeat="item in opcoesMenu"><a href="{{item.link}}">{{item.descricao}}</a></li>
                </ul>
            </div>
        </div>
        <div ng-view></div>

        <br>
        <div class="container">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-11">
                            <h4>Cadastro de atletas</h4>
                        </div>
                        <div class="col-md-1">
                            <button type="button" class="btn btn-success" ng-click="novo()">Novo</button>
                        </div>
                    </div>
                </div>
                <div class="panel-body">

                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Email</th>
                                <th>Administrador</th>
                                <th>Faz Planilhas</th>
                                <th>Cria Usuários</th>
                                <th>Cria Eventos</th>
                                <th>Recebe Planilha</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in listaRegistros">
                                <td>{{item.nome}}</td>
                                <td>{{item.email}}</td>
                                <td style="text-align: center"><span ng-show="item.admin === 1" class="label label-success">Sim</span></td>
                                <td style="text-align: center"><span ng-show="item.cria_planilhas === 1" class="label label-success">Sim</span></td>
                                <td style="text-align: center"><span ng-show="item.cria_usuarios === 1" class="label label-success">Sim</span></td>
                                <td style="text-align: center"><span ng-show="item.cria_eventos === 1" class="label label-success">Sim</span></td>
                                <td style="text-align: center"><span ng-show="item.recebe_planilha === 1" class="label label-success">Sim</span></td>
                                <td style="text-align: center"><img src="img/editar.png" alt="Editar" ng-click="editar(item)"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <form>
                <div id="myModal" class="modal fade bd-example-modal-lg" role="dialog">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <h3 class="modal-title">Cadastro de Usuários</h3>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <label for="inputNome" class="col-form-label">Nome</label>
                                        <input id="inputNome" type="text" ng-model="registro.nome" class="form-control" placeholder="Nome do atleta">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-4">
                                        <label for="inputNascto" class="col-form-label">Data de nascimento</label>
                                        <input id="inputNascto" type="text" ng-model="registro.data_nascto" class="form-control" placeholder="Informe a data de nascimento">
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="inputCPF" class="col-form-label">Telefone (Whatsapp)</label>
                                        <input id="inputCPF" type="text" ng-model="registro.telefone_1" class="form-control" placeholder="Informe o número do telefone usado no whatsapp">
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="inputRg" class="col-form-label">Telefone 2</label>
                                        <input id="inputRg" type="text" ng-model="registro.telefone_2" class="form-control" placeholder="Informe o numero de um segundo telefone para contado">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label for="inputCPF" class="col-form-label">CPF</label>
                                        <input id="inputCPF" type="text" ng-model="registro.cpf" class="form-control" placeholder="CPF">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="inputRg" class="col-form-label">RG</label>
                                        <input id="inputRg" type="text" ng-model="registro.rg" class="form-control" placeholder="RG">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label for="inputEmail" class="col-form-label">Email</label>
                                        <input  id="inputEmail" type="email" ng-model="registro.email" class="form-control" placeholder="Email">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="inputPassword" class="col-form-label">Senha</label>
                                        <input id="inputPassword" type="password" ng-model="registro.senha" class="form-control" placeholder="Senha de acesso">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <label for="inputEndereco" class="col-form-label">Endereço</label>
                                        <input id="inputEndereco" type="text" ng-model="registro.endereco" class="form-control" placeholder="Informe a rua, apartamento, número etc... Ex: Av. Centenário, 7504. Apto 405.">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label for="inputCidade" class="col-form-label">Cidade</label>
                                        <input id="inputCidade" type="text" ng-model="registro.cidade" class="form-control" placeholder="Nome da cidade">
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="inputEstado" class="col-form-label">Estado</label>
                                        <input id="inputEstado" type="text" ng-model="registro.estado" class="form-control" placeholder="Sigla do estado">
                                        <!--                        <select id="inputEstado" ng-model="registro.estado"  class="form-control"
                                                                        ng-options="option.nome for option in listaEstadosCidades track by option.sigla">
                                                                </select>-->
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label for="inputCEP" class="col-form-label">CEP</label>
                                        <input id="inputCEP" type="text" ng-model="registro.cep" class="form-control">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-3">
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input class="form-check-input" type="checkbox" ng-model="registro.cria_planilhas" ng-true-value="1" ng-false-value="0"> Faz planilhas de treino
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input class="form-check-input" type="checkbox" ng-model="registro.cria_usuarios" ng-true-value="1" ng-false-value="0"> Cadastra usuários
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-3">
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input class="form-check-input" type="checkbox" ng-model="registro.cria_eventos" ng-true-value="1" ng-false-value="0"> Cria eventos
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input class="form-check-input" type="checkbox" ng-model="registro.recebe_planilha" ng-true-value="1" ng-false-value="0"> Recebe Planilhas
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <label for="inputObservacoes" class="col-form-label">Anotações sobre o atleta</label>
                                        <textarea class="form-control" id="inputObservacoes"  ng-model="registro.observacoes" rows="7" placeholder="Anotações sobre o atleta.">
                                        </textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" ng-click="gravar(registro)">Salvar</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>


    </body>
</html>